.btn {
    padding: 0.5rem 1rem;
    font-family: var(--font-famille-texte);
    text-decoration: none;
    font-size: 0.8em;
    cursor: pointer;
    outline: none;
    border-radius: var(--bordure-rayon);
}

